<ion-header>
	<ion-toolbar color="dark">
		<ion-title>
			Noticias Mundiales
		</ion-title>
	</ion-toolbar>
	<ion-segment scrollable mode="md" color="primary">
		<ion-segment-button (click)="setNoticias(categoria)" [value]="categoria" *ngFor="let categoria of categorias">
			<ion-label text-capitalize>{{categoria}}</ion-label>
		</ion-segment-button>
	</ion-segment>
</ion-header>


<ion-content color="dark">
	<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
			<app-noticias [articulos]="articulos"></app-noticias>
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>