<ion-header>
	<ion-toolbar color="dark">
		<ion-title>
			Filtrar Noticias
		</ion-title>
	</ion-toolbar>
	<ion-segment scrollable mode="md" style="background-color: rgb(56, 59, 59)" color="medium">
		<ion-segment-button (click)="getNoticias(categoria)" [value]="categoria" *ngFor="let categoria of categorias">
			<ion-label text-capitalize>{{categoria}}</ion-label>
		</ion-segment-button>
	</ion-segment>
</ion-header>



<ion-content color="dark">
	<app-noticias [articulos]="articulos"></app-noticias>

	<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>